openai
transformers
pandas
seaborn
imageio
matplotlib
numpy
diffusers==0.32.2
accelerate==1.4.0
datasets==2.8.0
ftfy==6.1.1
opencv-python==4.7.0.72
Pillow
protobuf==3.20.3
salesforce-lavis==1.0.0
scikit-image==0.20.0
scikit-learn==
scipy==1.9.1
sentencepiece==0.1.99
spacy==3.5.2
supervision==0.6.0
timm==0.4.12
torch==2.0.1
torchaudio==2.0.2
torchmetrics==0.11.4
torchvision==0.15.2
transformers==4.29.1